<footer>
    
   <div class = "flex-container"> 

    <div class = "copy-right">
          <h1>@E-Com . All Right Reserved</h1>
    </div>

    <div class = "navigation-items">

        <ul>
           <li> <a href = "#">Home</a> </li>
           <li><a href= "">Profile</a> </li>
           <li><a href = "">Friends</a></li>
        </ul>    

    </div>

    </div>



   </footer> 