<html>

    <link rel = "stylesheet" href="/css/user_layout.css">

   
    <title><%=title%></title>


       <p><a href = "" onclick="/users/signout">signOut</p>

  <p> Name : <%=userName%></p>
   <p> Email :   <%= email%></p>
