
   <p>User Login Page </p>

   <form action = "/users/createSession"  method = "POST">
   <lable for = "user_name">User Name</lable>
      <input type = "text" name = "email" id = "user_name" required/>
       <br/>
      
      
      <lable for = "password">Password</lable>
      <input  type = "password" name = "password" id = "password" required/> <br/>     
      <button >Login</button>

   </form>