.flex-container {
  display: flex;
  width: 100%;
  background-color: cyan;
  align-content: stretch; }

li {
  display: inline; }

div h1 {
  text-transform: capitalize; }

div a {
  text-decoration: none; }
